body{
    background: black;
    color: #33aaff;
    font-family: 'Raleway', sans-serif;
}

a{color: #33aaff;
    font-family: 'Raleway', sans-serif;}

h1{
    font-size: 44px;
}

.skill{
    border: 1px solid #33aaff;
    width:150px;
    padding: 10px;
    margin-bottom:10px;
}