<!DOCTYPE html>
<html ng-app="headlezz">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/common.css">
</head>
<body>
    <h1>All Skills:</h1>
    <div ng-controller="SkillController as skillCtrl" >
        <div ng-repeat="skill in skillCtrl.skills" class="skill">
            <h3>{{skill.name}}</h3>
            <p>Priority: {{skill.priority}}</p>
        </div>

    </div>
</body>
</html>